//font color
$f-white: #fff;
$f-disabled: #999;
$f-lightgray: #767676;
$f-gray: #505050;
$f-black: #111;

//line color
$l-white: #fff;
$l-light: #f7f7fb;
$l-regular: #e5e5ec;
$l-disbled: #cacad7;
$l-black: #111;
