@import "./_layout", "./_color", "./_font";
@import "assets/fonts/pretendardvariable.css";
@import "assets/fonts/DMSans.css";
html,
body {
    scroll-behavior: smooth;
}
button {
    cursor: pointer;
}
#main {
    * {
        font-family:
            "DM Sans",
            "Pretendard",
            "Noto Sans KR",
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            "Helvetica Neue",
            Arial,
            sans-serif !important;
    }
    .material-icons {
        font-family: "Material Icons" !important;
    }

    .hidden {
        display: none !important;
    }
    main {
        section {
            position: relative;
            padding: 130px 0;
            width: 100%;
            min-height: 100dvh;
        }
        .section-title {
            margin-bottom: 60px;
            @include heading1;
            font-weight: bold;
            &.text-center {
                text-align: center;
                & + .sub-title {
                    text-align: center;
                }
            }
            small {
                display: block;
                margin-bottom: 12px;
                @include sub-title;
            }

            & + .sub-title {
                margin-top: -40px;
                margin-bottom: 60px;
                // text-align: center;
                @include body1;
                color: $gray900;
            }
        }
        .title-box {
            display: flex;
            align-items: flex-end;
            h2,
            p {
                flex: 1;
            }
        }

        //section1
        #section1 {
            padding: 0;
            overflow: hidden;
            .main-visual {
                position: relative;
                aspect-ratio: 1920 / 880;
                background: url("../img/main_visual_bg2.png") no-repeat center top / contain;
                overflow: hidden;

                .main-text {
                    margin-top: 162px;
                    @include hero;
                    color: #fff;
                }

                .mockup {
                    position: absolute;
                    right: 11%;
                    bottom: -51%;
                }
            }
            .main-quote {
                position: relative;
                display: flex;
                padding: 44px 0 42px;
                align-items: center;
                justify-content: center;
                text-align: center;
                background: #fff;
                dt {
                    margin-bottom: 16px;
                    @include heading2;
                    @include text-gradient;
                }
                dd {
                    @include body2;
                    color: $gray600;
                }
            }
            .partner-wrap {
                padding: 120px 0 40px;
                text-align: center;
                h3 {
                    margin-bottom: 40px;
                    @include heading2;
                    font-weight: 300;
                    color: $gray600;
                    strong {
                        font-weight: bold;
                        color: $black;
                    }
                }
            }
        }

        //section2
        #section2 {
            padding: 0;
            height: 100dvh;
            background: url("../img/abc.png") no-repeat right 0 bottom 64px;
            background-attachment: fixed;
            .abc-img {
                display: none;
                position: absolute;
                right: 0;
                bottom: 64px;
            }
            .container {
                display: flex;
                align-items: center;
                height: 100%;
            }
            .title {
                z-index: 10;
                position: relative;
                width: 564px;
                max-width: 100%;
                .brand-list {
                    display: flex;
                    gap: 12px;
                }
                padding-right: 80px;
            }
            .mobile-screens {
                z-index: 0;
                position: absolute;
                right: 150px;
                flex-basis: 954px;
                min-width: 954px;
                overflow: hidden;

                &::before,
                &::after {
                    z-index: 100;
                    content: "";
                    display: block;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    height: 40%;
                }
                &::before {
                    top: 0;
                    background: linear-gradient(0, rgba(255, 255, 255, 0) 73.41%, #fff 100%);
                }

                &::after {
                    bottom: 0;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 30.09%, #fff 96.74%);
                    mix-blend-mode: hard-light;
                }
                .inner {
                    display: flex;
                    gap: 16px;
                    height: fit-content;
                    > div {
                        flex: 1;
                        display: flex;
                        flex-flow: column;
                        gap: 16px;

                        &.col-left {
                            opacity: 33%;
                        }
                        &.col-center {
                            opacity: 66%;
                        }
                    }
                }

                .screen {
                    border-radius: 12px;
                    background: $bg-light;
                    aspect-ratio: 375 / 812;
                    padding: 20px;
                }
            }
        }

        //section3
        #section3 {
            .card-wrap {
                display: flex;
                gap: 30px;
                .col {
                    border-radius: 40px;
                    &-left {
                        flex: 2;
                    }
                    &-center {
                        flex: 1;
                    }
                    &-right {
                        flex: 1;
                        display: flex;
                        flex-flow: column;
                        gap: 30px;
                    }
                }

                .item {
                    position: relative;
                    perspective: 2000px;
                    height: 100%;
                    img {
                        opacity: 1;
                        transform: rotate3d(0, 0, 0, 180deg);
                        transform-style: preserve-3d;
                        border-radius: 40px;
                        transition: all 0.6s ease;
                    }
                    .txt-box {
                        opacity: 0;
                        transform: rotate3d(0, 0.5, 0, 180deg);
                        transform-style: preserve-3d;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        padding: 40px;
                        border-radius: 40px;
                        transition: all 0.6s ease;
                        h3 {
                            margin-bottom: 20px;
                            @include heading2;
                        }
                        p {
                            @include body2;
                            opacity: 0.8;
                        }
                    }

                    &:hover {
                        .txt-box {
                            opacity: 1;
                            transform: rotate3d(0, 0, 0, 180deg);
                        }
                        img {
                            opacity: 0;
                            transform: rotate3d(0, -0.5, 0, 180deg);
                        }
                    }
                    &.item1 .txt-box {
                        background: #f9ce78;
                    }
                    &.item2 .txt-box {
                        color: #fff;
                        background: #4d4e4d;
                    }
                    &.item3 .txt-box {
                        color: #fff;
                        background: #6479db;
                    }
                    &.item4 .txt-box {
                        background: #a9db65;
                    }
                }
            }
        }

        //section4
        #section4 {
            min-height: 0;
            overflow-x: hidden;
            background: url("../img/gradient_bubble_bg.png") no-repeat center top / 100% auto;
            background-attachment: fixed;
        }

        //section5
        #section5 {
            background: url(../img/teacher_app_bg.png) no-repeat center bottom / cover;
            background-attachment: fixed;

            .teacher-wrap {
                display: flex;
                gap: 32px;
                .item {
                    flex: 1;
                    position: relative;
                    aspect-ratio: 794 / 668;
                    padding: 72px 88px;

                    &:nth-child(1) {
                        background: url(../img/teacher_box1.png) no-repeat center / contain;
                    }
                    &:nth-child(2) {
                        background: url(../img/teacher_box2.png) no-repeat center / contain;
                    }
                }
                h3 {
                    position: relative;
                    margin-bottom: 12px;
                    @include heading2;
                    color: $black;

                    .icon {
                        position: absolute;
                        right: 100%;
                        top: -2px;
                        margin-right: 8px;
                    }
                }
                p {
                    width: 320px;
                    @include body2;
                    color: $gray900;
                }
            }
        }

        //section6
        #section6 {
            background: url("../img/user_flow_bg.png") no-repeat center / cover;
            // background-attachment: fixed;
            .mobile-screens {
                position: relative;
                top: 32px;
                transition: all 0.6s ease;
                .inner {
                    display: flex;
                    gap: 16px;
                    height: fit-content;
                    > div {
                        flex: 1;
                        display: flex;
                        flex-flow: column;
                        gap: 16px;

                        &:nth-child(1),
                        &:nth-child(4) {
                            padding-top: 40px;
                        }
                    }
                }

                .screen {
                    border-radius: 12px;
                    background: $bg-light;
                    aspect-ratio: 1 / 1;
                    padding: 20px;
                    transition: all 0.6s ease;
                    &:nth-child(even) {
                        margin-top: 20px;
                    }

                    &.main-screen {
                        height: 650px;
                        position: absolute;
                        left: 50%;
                        top: 150px;
                        transform: translateX(-50%);
                        aspect-ratio: 333 / 692;
                        background: $bg-medium;
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                        // transition: none;
                        margin-top: 0;
                    }
                }

                &.active {
                    top: 12px;
                    .screen {
                        margin-top: 0;

                        &.main-screen {
                            top: -40px;
                        }
                    }
                }
                &.deeper {
                    top: 0px;
                    .screen {
                        margin-top: 0px;

                        &.main-screen {
                            top: -100px;
                        }
                    }
                }
            }
        }

        //section7
        #section7 {
            padding: 0;
            height: 100dvh;
            overflow: hidden;
            background: url("../img/color_bg.png") no-repeat right 12px bottom 20px;
            .container {
                position: relative;
                height: 100%;

                .img-box {
                    position: absolute;
                    left: 0px;
                    bottom: -120px;
                    width: 100%;

                    .screen {
                        z-index: 20;
                        position: relative;
                        left: 20px;
                    }
                    .component-list {
                        z-index: 10;
                        position: absolute;
                        right: 20px;
                        top: 80px;
                        display: flex;
                        gap: 24px;
                        width: 1170px;
                    }
                }

                .txt-box {
                    position: absolute;
                    right: 0;
                    bottom: 130px;
                    width: 967px;
                    max-width: 100%;

                    p {
                        column-count: 2;
                        column-gap: 24px;
                        width: 774px;
                        max-width: 100%;
                    }

                    .color-list {
                        display: flex;
                        gap: 12px;

                        li {
                            display: flex;
                            flex-flow: column;
                            text-align: center;
                            border: 1px solid $l-regular;
                            flex-basis: 100px;
                            &::before {
                                content: "";
                                margin-bottom: 16px;
                                display: block;
                                width: 100%;
                                aspect-ratio: 1/1;
                                background: #efefef;
                            }
                            &.c1::before {
                                background: #ff5c5c;
                            }
                            &.c2::before {
                                background: #f7b305;
                            }
                            &.c3::before {
                                background: #80c720;
                            }
                            &.c4::before {
                                background: #00babb;
                            }
                            &.c5::before {
                                background: #5b89ff;
                            }

                            .name {
                                display: block;
                                margin-bottom: 4px;
                                @include caption1;
                                color: $black;
                            }
                            .value {
                                display: block;
                                margin-bottom: 16px;
                                @include caption2;
                                color: $gray900;
                            }
                        }
                    }
                }
            }
        }
        //section8
        #section8 {
            background: url("../img/overview.png") no-repeat center / cover;
            background-attachment: fixed;
        }

        //section9
        #section9 {
            background: url("../img/design_guide_bg.png") no-repeat center / cover;
            background-attachment: fixed;
            .design-wrap {
                display: flex;
                flex-flow: column;
                gap: 64px;

                h3 {
                    margin-bottom: 20px;
                    @include sub-title;
                    color: #767676;
                }
                .row {
                    display: flex;
                    align-items: flex-start;
                    gap: 56px;
                }
                .color-wrap {
                    flex-basis: 71%;
                }
                .icon-wrap {
                    flex-basis: 29%;
                }
                .module-color-wrap {
                    flex-basis: 53%;
                }
                .typo-graphic {
                    flex-basis: 47%;
                    display: flex;
                    flex-flow: column;
                    gap: 73px;
                    justify-content: space-between;
                }
                .typo-wrap {
                }
                .g-color-wrap {
                    width: calc(100% + 140px);
                }
            }
        }
    }

    #footer {
        padding: 12px 0;
        background: $bg-regular;
        .copy {
            @include caption1;
            color: $gray600;
        }
    }
}
